/* Global styles */
body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Faint gradient background */
   color: #333;
}

.container {
   max-width: 800px; /* Increased max-width for the container */
   margin: 50px auto;
   padding: 30px; /* Increased padding */
   background: rgba(255, 255, 255, 0.9); /* Light background with slight transparency */
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.gradient-text {
   background: linear-gradient(to right, #ff6a00, #ee0979); /* Dark gradient color for heading */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 2.5em;
   text-align: center;
   margin-bottom: 20px;
}

.search-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.search-bar input {
   flex: 1;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   transition: all 0.3s ease;
   max-width: 80%; /* Decreased max-width for mobile compatibility */
   margin-right: 10px; /* Add space between input and icon */
}

.search-bar input:focus {
   border-color: #ff6a00; /* Change border color on focus */
   box-shadow: 0 0 5px rgba(255, 106, 0, 0.5);
}

#searchIcon {
   font-size: 24px;
   color: #ff6a00;
   cursor: pointer;
   flex-shrink: 0; /* Prevent icon from shrinking */
}

.results {
   margin-top: 20px;
   max-height: 400px; /* Set a max height for the results container */
   overflow-y: auto; /* Enable scrolling if content overflows */
}

.result-item {
   background: rgba(255, 255, 255, 0.9);
   padding: 15px;
   margin-bottom: 15px;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.result-item h2 {
   font-size: 1.5em;
   margin: 0 0 5px 0;
}

.result-item a {
   color: #007bff;
   text-decoration: none;
}

.result-item a:hover {
   text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
   .container {
       padding: 15px;
   }

   .gradient-text {
       font-size: 2em;
   }

   .search-bar input {
       font-size: 14px;
       max-width: 70%; /* Adjusted max-width for smaller screens */
   }

   #searchIcon {
       font-size: 20px;
       margin-left: 5px; /* Add some space to the left of the icon */
   }

   .result-item h2 {
       font-size: 1.2em;
   }
}
